.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.list_user_con{
	margin-top: 7rem;
}

.card_st{
	background-color:rgb(239,238,238);
/* height: 200px; */
}

.card {
	/* width: 300px; */
	width: 100%;

	margin: 1rem;
}

.card-img {
	height: 200px;
	object-fit: cover;
}

@media only screen and (min-width: 768px) {
	.card-container {
		justify-content: space-between;
	}
	
	.card {
		width: 100%;
		margin: 1rem 0;
	}
}