.textarea {
	width: 80%;
	height: 200px;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.textarea:focus {
	outline: none;
	border-color: #61dafb;
}
.ereaText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.send-button {
	background-color: #61dafb;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.send-button:hover {
	background-color: #5cb8c5;
}
