@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Outfit', sans-serif;
}
body{
	background-color: #fbfbfb;
}
h1,h4,p,a{
	color: #fff;
	text-decoration: none;
}
ul{
	list-style: none;
}

.btn{
	padding: 12px 32px;
	font-size: 1rem;
	text-transform: uppercase;
	background: rgb(248,217,15);
	color: #222;
	border: 1px solid #fff;
	font-weight: 600;
	cursor: pointer;
}

.btn-light{
	background: transparent;
	color: rgb(255, 255, 255);
	background: rgb(82, 171, 239);
	border: 1px solid #fff;
	font-weight: 600;
	padding: 8px 10px;
	font-size: 1rem;
}

.btn:hover{
	background: rgba(112, 112, 112, 0.2);
	color: #fff;
	transition: 0.3s;
}