/* Centering the content */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Styling the SignIn form */
.sign_in {
  font-size: 32px;
  text-align: center;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signin_email,
.signin_password {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password_sign,
#email_sign {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
}

.sign_in-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  #password_sign,
#email_sign, .sign_in-button {
    width: 100%;
  }
}
