.sigin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: #f8f9fa;
  margin-top: 7rem;
}

.text-center {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #000;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  text-align: left;

}

.btn-success {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-right: 35px;

  font-size: 1.2rem;
  font-weight: bold;
  background-color: #c6d30f;
  color: #fff;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}

.register {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
  color: #007bff;
  text-decoration: none;
}

.register:hover {
  text-decoration: underline;
}

@media screen and (max-width :640px){
  .btn-success {
margin-right: 35px;
  }
}
