
.form_cont{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* width: auto; */
  /* margin-left: 50px; */
}
button {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px;

}

input,
textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}
#description{
  width: 100%;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}
body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
}
.span_rec{
  color: red;
}


.cont-form {
  border: 2px red solid;
width: 50%;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border:  2px solid rgb(102, 102, 102);

  border: 4px solid hsl(0, 0%, 90%);
}
.one{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.full-width {  
  grid-column: span 2;
margin-left: 40px;
}

@media screen and (max-width :640px){
  .one{
    flex-direction: column;
  }
  .form_cont{
    width: 20rem;
  }
  .cont-form{
    border:  2px solid rgb(102, 102, 102);
padding-left: 0; 
width: 90%; }
  #description{
    width: 13rem;
  }
  input,
textarea {
  font-size: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
}
}