.create_form{
  margin-top: 7rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input,
textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="cancel"] {
  background-color: #ccc;
  margin-right: 10px;
}

span {
  font-size: 14px;
  color: #000;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  label {
    font-size: 16px;
  }

  input,
  textarea {
    font-size: 14px;
  }

  button {
    font-size: 16px;
    padding: 10px 15px;
  }
}
