.cont-form{
  margin-top: 7rem;
}
.con_text{
  color:black;
  /* margin-top: 7rem; */
  /* margin: auto; */
  text-align: center;
}
.cont_contener{
  align-content: center;
  display: flex;
  justify-content: center;
}
.cont{
display: flex;
justify-content: center;
flex-direction: column;
    /* margin-left: 10rem; */
    margin-top: 7rem;
    align-items: center;
    border: 2px solid rgb(214, 212, 212);
    background-color: rgb(241, 248, 255);
    width: 50%;
    
}
form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  font-size: 16px;
}
button {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px;

}

input,
textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: left;
}
#description{
  width: 37rem;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}
body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
}

    @media screen and (max-width :640px){
.cont{
  width: 100%;
}


    }
  